{% extends "STHENOS.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'programmesStyle.css' %}">
{% endblock %}

{% block content %}
{% include "headers.html" %}
{% include "navBar.html" %}

<div class="text-container">
    {% csrf_token %}
    <div class="program-container-1">
        <div class="program-container-2">
            <div class="programsTitle">Starting Strength Program</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Day</th>
                    <th>Exercise</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tr>
                    <td>Day A</td>
                    <td>Squat</td>
                    <td>3 sets of 5 reps</td>
                </tr>
                <tr>
                    <td>Day A</td>
                    <td>Bench Press</td>
                    <td>3 sets of 5 reps</td>
                </tr>
                <tr>
                    <td>Day A</td>
                    <td>Deadlift</td>
                    <td>1 set of 5 reps</td>
                </tr>
                <tr>
                    <td>Day B</td>
                    <td>Squat</td>
                    <td>3 sets of 5 reps</td>
                </tr>
                <tr>
                    <td>Day B</td>
                    <td>Pull-ups</td>
                    <td>3 sets of 5 reps</td>
                </tr>
                <tr>
                    <td>Day B</td>
                    <td>Dips</td>
                    <td>3 sets of 5 reps</td>
                </tr>
                <tr>
                    <td>Day C</td>
                    <td>Squat</td>
                    <td>3 sets of 5 reps</td>
                </tr>
                <tr>
                    <td>Day C</td>
                    <td>Pull-ups</td>
                    <td>3 sets of 5 reps</td>
                </tr>
                <tr>
                    <td>Day C</td>
                    <td>Bench Press</td>
                    <td>3 sets of 5 reps</td>
                </tr>
            </table>
            <ul>
            <li>3 days per week (non-consecutive days)</li>
            <li>Begin low, add 1.25kg-5kg per day depending on feeling</li>
            <li>1-5 minutes rest between sets</li>
            <li>If pull-ups/dips are too hard, use elastics/machines first</li>
            <li>After 1-5 months, change program or reduce progression speed</li>
            </ul>
        </div>
        <div class="program-container-2">
            <div class="programsTitle">531 Program</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Week</th>
                    <th>Exercise</th>
                    <th>Set 1</th>
                    <th>Set 2</th>
                    <th>Set 3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Week 1</td>
                    <td>Bench Press</td>
                    <td>65% х 5</td>
                    <td>75% х 5</td>
                    <td>85% х 5+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Squats</td>
                    <td>65% х 5</td>
                    <td>75% х 5</td>
                    <td>85% х 5+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Deadlifts</td>
                    <td>65% х 5</td>
                    <td>75% х 5</td>
                    <td>85% х 5+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Pull-Ups / Dips</td>
                    <td>65% х 5</td>
                    <td>75% х 5</td>
                    <td>85% х 5+</td>
                </tr>
                <tr>
                    <td>Week 2</td>
                    <td>Bench Press</td>
                    <td>70% х 3</td>
                    <td>80% х 3</td>
                    <td>90% х 3+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Squats</td>
                    <td>70% х 3</td>
                    <td>80% х 3</td>
                    <td>90% х 3+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Deadlifts</td>
                    <td>70% х 3</td>
                    <td>80% х 3</td>
                    <td>90% х 3+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Pull-Ups / Dips</td>
                    <td>70% х 3</td>
                    <td>80% х 3</td>
                    <td>90% х 3+</td>
                </tr>
                <tr>
                    <td>Week 3</td>
                    <td>Bench Press</td>
                    <td>75% х 5</td>
                    <td>85% х 3</td>
                    <td>95% х 1+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Squats</td>
                    <td>75% х 5</td>
                    <td>85% х 3</td>
                    <td>95% х 1+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Deadlifts</td>
                    <td>75% х 5</td>
                    <td>85% х 3</td>
                    <td>95% х 1+</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Pull-Ups / Dips</td>
                    <td>75% х 5</td>
                    <td>85% х 3</td>
                    <td>95% х 1+</td>
                </tr>
                <tr>
                    <td>Week 4 (Deload)</td>
                    <td>Bench Press</td>
                    <td>40% х 5</td>
                    <td>50% х 5</td>
                    <td>60% х 5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Squats</td>
                    <td>40% х 5</td>
                    <td>50% х 5</td>
                    <td>60% х 5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Deadlifts</td>
                    <td>40% х 5</td>
                    <td>50% х 5</td>
                    <td>60% х 5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Pull-Ups / Dips</td>
                    <td>40% х 5</td>
                    <td>50% х 5</td>
                    <td>60% х 5</td>
                </tr>
                </tbody>
            </table>
            <ul>
                <li>Perform each workout once per week.</li>
                <li>Increase weight gradually as you progress.</li>
                <li>Rest adequately between sets and exercises.</li>
                <li>Adjust the percentages based on your individual progress and recovery.</li>
                <li>Deload week helps with recovery, but maintain form and intensity.</li>
            </ul>
        </div>
        <div class="program-container-2">
            <div class="programsTitle">333 - 555 Program</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Workout</th>
                    <th>Exercise</th>
                    <th>Sets/Reps</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1st Workout</td>
                    <td>Deadlifts and Bench Press or Dips</td>
                    <td>3 sets of 5 reps or 3 sets of 3 reps</td>
                </tr>
                <tr>
                    <td>2nd Workout</td>
                    <td>Squats and Pull-ups</td>
                    <td>3 sets of 5 reps or 3 sets of 3 reps</td>
                </tr>
                </tbody>
            </table>
            <ul>
                <li>At least 48 hours between each workout</li>
                <li>Begin in 5 x 5 mode</li>
                <li>Begin low, add 1.25kg - 5kg per day depending on feeling</li>
                <li>If you fail, switch to 3 x 3 for the next session</li>
                <li>If you fail 3 x 3, switch to 5 x 5 and start where you failed last time</li>
                <li>If you fail 5 x 5, switch to 3 x 3 and start where you failed last time</li>
            </ul>
        </div>
        <div class="program-container-2">
            <div class="programsTitle">Bodyweight Strength Program</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Week</th>
                    <th>Exercise</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Day A</td>
                    <td>Squat</td>
                    <td>3x3 or 3x5 reps</td>
                </tr>
                <tr>
                    <td>Day A</td>
                    <td>Pull-ups</td>
                    <td>4 series</td>
                </tr>
                <tr>
                    <td>Day B</td>
                    <td>Pull-ups</td>
                    <td>4 series</td>
                </tr>
                <tr>
                    <td>Day B</td>
                    <td>Dips</td>
                    <td>4 series</td>
                </tr>
                <tr>
                    <td>Day C</td>
                    <td>Squat</td>
                    <td>3x3 or 3x5 reps</td>
                </tr>
                <tr>
                    <td>Day C</td>
                    <td>Dips</td>
                    <td>4 series</td>
                </tr>
                <tr>
                    <td>Recuperation Day</td>
                    <td>Squat, Dips, and Pull-ups</td>
                    <td>3 series of each at 60%</td>
                </tr>
                </tbody>
            </table>
            <ul>
                <li>Squats: Begin low, add 1.25kg - 5kg per day depending on feeling</li>
                <li>1-5 minutes rest between sets</li>
                <li>If pull-ups/dips are too hard, use elastics/machines first</li>
                <li>Attempt max reps at the fifth series</li>
                <li>Increase the total number of reps by at least one</li>
                <li>If failure occurs, do the recuperation workout next time</li>
            </ul>
        </div>
        <div class="program-container-2">
            <div class="programsTitle">Program pdf generator</div>
            <form method="post" action="{% url 'programs' %}">
                {% csrf_token %}
                <div class="form-rows">
                    {{userCharacForm}}
                </div>
                <button type="submit"
                        style="width: 100%;">Submit</button>
            </form>  
        </div>
    </div>
</div>

<div class="text-container">
    <div class="program-container-abs1">
        <div class="program-container-abs2">
            <h3>Abs workout</h3>
            <span id="timer">00:00</span>
            <button id="change-image-btn">Change Image</button>
            </br>
            <p>ps: squats and deadlifts actually create 2-3 time more tension in your core than any abs exercise so they sould be prioritized for training</p>   
        </div>
        <div class="program-container-abs2">
             <img id="abs-image" src="{% static 'img/crunch.png' %}" alt="abs exercise">
        </div>
    </div>
</div>

<script defer src="{% static 'programs.js' %}"></script>

{% endblock %}