<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sthenos Project</title>
    <title>{% block title %}STHENOS{% endblock %}</title>
    {% load static %}
    <link href="{% static 'commonStyles.css' %}" rel="stylesheet">
    <link href="{% static 'stars.css' %}" rel="stylesheet">
    {% load leaflet_tags %}
    {% leaflet_css %}
    {% leaflet_js %}

    <script defer src="{% static 'mouseoverhexagons.js' %}"></script>
    
    <meta name="csrf-token" content="{{ csrf_token }}">
    

    <style>
        @media (max-width: 872px) { 
            .containerSharedIndex{
                min-height:  120px;
            }
        }
    </style>

{% block styles %}
{% endblock %}
    
</head>
<body>
    {% block content %}
    <!-- Content will be injected here by child templates -->
    {% endblock %}
</body>
</html>