{% extends "STHENOS.html" %}

{% block content %}
{% include "headers.html" %}
{% include "navBar.html" %}

<div class="text-container">
    <h3>Raphael Masset</h3>
    <p>    
        Je m'appelle Raphaël Masset, un passionné qui a récemment réorienté sa carrière vers le développement logiciel. 
        J'ai décidé de créer ce site pour développer mes compétences tout en combinant mes deux passions pour le développement et le sport.
    </p>
    <p>
        My name is Raphaël Masset, a passionate developer who recently transitioned his career to focus on software development. 
        I decided to create this site to develop my skills while combining my two passions for development and sports. 
    </p>
    <a href="https://www.linkedin.com/in/raphaël-philippe-masset">Linkedin</a>
</div>

{% endblock %}