{% extends "STHENOS.html" %}

{% block content %}

{% include "headers.html" %}
{% include "navBar.html" %}

<div class="text-container">
    <h3>PubMed</h3>
    <p>A comprehensive database providing access to a vast collection of biomedical and life sciences literature, including exercise science, muscle physiology, and nutrition studies. It offers peer-reviewed research articles from numerous scientific journals, making it an essential resource for in-depth scientific information.</p>
    <a href="https://pubmed.ncbi.nlm.nih.gov/">Visitez PubMed</a>
</div>

<div class="text-container">
    <h3>The Journal of Strength and Conditioning Research (JSCR)</h3>
    <p>Publishes peer-reviewed research articles on all aspects of strength and conditioning, covering both applied and theoretical research. It is highly respected in the academic and professional fitness communities, making it a key source for serious, evidence-based research.</p>
    <a href="https://journals.lww.com/nsca-jscr/pages/default.aspx">Visitez JSCR</a>
</div>

<div class="text-container">
    <h3>Examine.com</h3>
    <p>Provides detailed, evidence-based information on supplements and nutrition, analyzing the latest scientific research. Known for its unbiased and thorough research summaries, Examine.com makes complex scientific information accessible and actionable for fitness professionals.</p>
    <a href="https://examine.com/">Visitez Examine.com</a>
</div>

<div class="text-container">
    <h3>Science for Sport</h3>
    <p>Focuses on the latest research and developments in sports science, offering articles, podcasts, and courses for coaches and athletes. It delivers practical applications of scientific research, helping professionals stay updated with the latest findings in the field.</p>
    <a href="https://www.scienceforsport.com/">Visitez Science for Sport</a>
</div>

<div class="text-container">
    <h3>National Strength and Conditioning Association (NSCA)</h3>
    <p>Offers a wealth of resources including research articles, position statements, and educational materials related to strength and conditioning. Renowned for its authoritative publications and certifications, the NSCA provides trusted and comprehensive resources for professionals in the fitness industry.</p>
    <a href="https://www.nsca.com/">Visitez NSCA</a>
</div>

<div class="text-container">
    <h3>International Powerlifting Federation (IPF)</h3>
    <p>The IPF is the leading international organization for the sport of powerlifting, providing rules, regulations, and standards for competitions worldwide. It also offers resources and information on training, technique, and the latest developments in powerlifting, making it essential for those involved in the sport professionally.</p>
    <a href="https://www.powerlifting.sport/">Visitez IPF</a>
</div>

{% endblock %}